* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h6,
p,
a,
input, button {
    font-family: 'Open Sans', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.hk_grotesk {
    font-family: 'Hanken Grotesk', sans-serif;
}

.container {
    max-width: 1140px !important;
}


/* header */
.bg_img {
    background-image: url(/assets/images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 742px;
}

.header_inner {
    padding-top: 26px;
    gap: 167px;
}

.header_inner img {
    width: 100%;
}

ul li {
    list-style: none;
}

.nav_items {
    gap: 40px;
}

.nav_items a:hover{
    background-color: #223B74 ;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 8px;
}

.nav_items a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    transition: .04 ease-in;
}

.nav_items button {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 2000px;
    padding: 13px 24px;
    background: none;
    width: 100%;
    white-space: nowrap;
    transition: .4s ease-in;
}

.nav_items button:hover {
    color: #000;
    background: #fff;
}

.banner_inner {
    padding-top: 120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_inner h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #fff;
    margin-bottom: 40px;
}

.search__group {
    width: 760px;
    height: 56px;
    margin: auto;
    display: flex;
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 23px;
}

.search__group input {
    border: none;
    background: transparent;
    padding: 8px;
    margin-left: 40px;
    font-size: 16px;

}

.search__group input:focus-visible {
    outline: none;
    /* margin-right: 10px; */
}

.search__group input::placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 22px;
    color: #959EAD;
    font-family: 'Open Sans', sans-serif;
}

.search__group img {
    height: 16px;
    width: 16px;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.search__group button {
    background: #B41F45;
    /* border: 2px solid #B41F45; */
    border-radius: 8px;
    padding: 9px 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    transition: .4s ease-in;
}

.search__group button:hover {
    background: #FFFFFF;
    color: #B41F45;
}

.tag {
    padding-bottom: 96px;
    gap: 16px;
    /* margin-left: 328px; */
    text-align: center;
}

.tag p {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.tag button {
    border: 1px solid #fff;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background: transparent;
    color: #fff;
    padding: 8px 32px;
    transition: .4s ease-in;
}

.tag button:hover {
    background: #FFFFFF;
    color: #223B74;
}


/* end header */

/* best_selling trucks */

.best_selling {
    margin-top: -180px;
    z-index: 9999;
    position: relative;
    margin-bottom: 96px;
}

.txt___boo {
    border-radius: 16px;
}

.best_selling .container {
    border: 3px solid #E5EAF4;
    /* box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03); */
    border-radius: 16px;
}

.best_selling img {
    /* filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.25)); */
    border-radius: 16px;
}

.txt_feature {
    padding: 32px;
}

.txt_feature>span {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #223B74;
    background: #D9F0E6;
    border-radius: 2000px;
    padding: 8px 16px;
    /* margin-bottom: 37px; */
}
.txt_feature>span:hover{
    color: #D9F0E6;
    background: #223B74;
}

.txt_feature h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.2px;
    color: #223B74;
    margin-top: 37px;
    margin-bottom: 12px;
}

.txt_feature>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #5A7184;
    margin-bottom: 27px;
}

.writter_box {
    align-items: center;
}

.dot {
    height: 40px;
    width: 40px;
    background: #B41F45;
    border-radius: 50%;
    margin-right: 12px;
}

.writter_box h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #183B56;
    margin-bottom: 4px;
}

.writter_box p {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #5A7184;
}

.writter_box i {
    color: #1565D8;
    background-color: #DCE8F9;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.date p {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #5A7184;
}

/* best_selling trucks end */

/* Popular Article */
.article {
    padding-bottom: 14px;
    margin-bottom: 48px;
}

.article h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.2px;
    color: #223B74;
    margin-bottom: 16px;
}

.article p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #5A7184;
}

.view__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #202856;
    border: 2px solid #202856;
    border-radius: 8px;
    background-color: #fff;
    padding: 12px 24px;
    height: 47px;
}

.icon {
    margin-left: 16px;
}

.view__btn:hover {
    background-color: #202856;
    color: #fff;
}

.popular__img {
    margin-bottom: 96px;
}

.popular__content{
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular__content__img{
    background-image: url(/assets/images/popular_article_1.png);
    border-radius: 16px;
}

.popular__content__img2{
    background-image: url(/assets/images/popular_article_2.png);
    border-radius: 16px;
}

.popular__content button {
    border: none;
    border-radius: 2000px;
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #223B74;
    padding: 7px 16px;
    width: 100px;
    height: 32px;
    padding: 7px 16px;
    margin-top: 32px;
    margin-left: 32px;
    transition: .4s ease-in-out;
} 

.popular__content button:hover{
    background-color: #223B74;
    color: #FFFFFF;
}

.popular_inner{
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 42px;
}
.popular__content h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.popular_writter{
    align-items: center;
}

.popular_writter_box h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.popular_writter_box span {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #5A7184;
}

.popular_writter_box i {
    color: #FFFFFF;
    height: 16px;
    width: 16px;
    background-color: #172834;
    border-radius: 50%;
}

.popular_date span {
    /* color: red; */
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #959EAD;
}

/* Popular Article end */
/* recent */
.recent_img{
    margin-bottom: 96px;
}

.recent__content{
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.re_content_img{
    background-image: url(/assets/images/recent_1.png);
    border-radius: 16px;
}

.re_content_img2{
    background-image: url(/assets/images/recent_2.png);
    border-radius: 16px;
}

.re_content_img3{
    background-image: url(/assets/images/recent_3.png);
    border-radius: 16px;
}

.recent__inner{
    padding: 271px 32px 40px 32px;
}

.recent__inner h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 12px;

}

.recent__inner p{
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

/* recent end */

/* owl carousel */

.slider{
    margin-bottom: 60px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent;
    color: #000;
}

.owl-prev, .owl-next{
    position: absolute;
    top: 150px;
}

.owl-prev span, .owl-next span{
    font-size: 37px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #B41F45;
    display: inline-block;
    line-height: 32px;
    color: #FFFFFF;
}

.owl-prev{
    left: -30px;
}

.owl-next{
    right: -30px;
}
/* owl carousel end */



/* all article */
.all_article{
    margin-bottom: 48px;
}
.all_ar_inner{
    margin-top: 30px;
}

.all_article__img{
    background-image: url(/assets/images/all_article_1.png);
    border-radius: 16px;
}

.all_article__img_2{
    background-image: url(/assets/images/all_article_2.png);
    border-radius: 16px;
}

.all_article__img_3{
    background-image: url(/assets/images/all_article_3.png);
    border-radius: 16px;
}

.all_article__img_4{
    background-image: url(/assets/images/all_article_4.png);
    border-radius: 16px;
}

.all_article__img_5{
    background-image: url(/assets/images/all_article_5.png);
    border-radius: 16px;
}
/* all article end */

/* more details */
.more_details_btn{
    text-align: center;
    margin-bottom: 30px;
}

.more_details_btn button{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding: 13px 21px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 2px solid #202856;
    color:#202856;
    transition: .4s ease-in;

}

.more_details_btn button:hover{
    background-color: #202856;
    color:#FFFFFF;
}


/* more details end */
/* Footer */

.foo_content{
    gap: 12px;
}

.get_story{
    background-color: #B41F45;
    padding-top: 10px;
    padding-bottom: 138px;
}

.get_story h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 48px;

}

.mail_us{
    gap:8px;
}

.mail_us input{
    padding: 17px 16px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    width:320px;
}

.mail_us input::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #5A7184;
    font-family: 'Open Sans', sans-serif;
}

.mail_us input:focus-visible {
    outline: none;
}

.mail_us button{
    padding: 16px 32px;
    background-color: #223B74;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #223B74;
    border-radius: 8px;
    transition: .4s ease-in;
}

.mail_us button:hover{
    background-color: #FFFFFF;
    color: #223B74;
}

.get_story p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 555px;
}

.best_week_ar {
    border-radius: 16px;
    background-color: #FFFFFF;
    border-radius: 16px;;
}

.boxWrap{
    position: relative;
    z-index: 9;
    width: 466px;
    margin-left: auto;
}

.boxWrap::before{
    position: absolute;
    content: "";
    height: 200px;
    width: 237px;
    z-index: -9;
    top: 42px;
    right: -51px;
    background-color: #223B74;
    border-radius: 16px;
}

.boxWrap::after{
    position: absolute;
    content: "";
    height: 200px;
    width: 237px;
    z-index: -9;
    bottom: -42px;
    left: -61px;
    background-color: #AB2148;
    border-radius: 16px;
}


.best_week_ar img{
    border-radius: 16px;
    margin-bottom: 28px;
    padding: 8px;
}

.ar_content h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #183B56;
    margin-bottom: 12px;
}

.ar_content p{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #5A7184;
    max-width: 330px;
}

.ar_content{
    padding: 0px 32px 32px 32px;
}

.footer_bottom {
    background-color:  #202856;
    padding-top: 100px;
    padding-bottom: 93px;
}

.bottom_boxes{
    gap:30px;
}

.inner_box ul{
    color:  #5A7184;
    padding-right: 36px;
}

.inner_box ul li:first-child{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #5A7184;
    margin-bottom: 30px;
}

.inner_box ul li{
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    transition: .4s ease-in-out;
}

.inner_box ul li:hover{
    color:#FFFFFF;
    /* font-size: 18px; */
}


/* Footer end */

/* detail Page */
.bg_img_2 {
    background-image: url(/assets/images/Hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 742px;
}

.hero_inner {
    padding-top: 285px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 250px;
}

.hero_inner h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.force_content{
    margin-bottom: 44px;
}

.force_content h2{
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    letter-spacing: 0.2px;
    color: #223B74;
    margin-bottom: 30px;
}

.ford_header{
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    letter-spacing: 0.2px;
    color: #223B74;
}

.ford_content{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5A7184;
}


.full_content{
    margin-bottom: 82px;
}

.inner_img{
    /* height: 398px; */
    width: 100%;
}

.engine{
    margin-top: 98px;
    margin-bottom: 130px;
}

.engine h2{
    margin-bottom: 62px;
}

.fuel_efficiency{
    margin-bottom: 158px;
}

.features{
    margin-top: 98px;
    margin-bottom: 98px;
}

.features h2{
    margin-bottom: 78px;
}

.final_thought{
    margin-bottom: 138px;
}

/* detail Page end */



@media screen and (max-width:2560px) {
    .mobile-container {
        display: none;
    }

}

@media screen and (max-width:1440px) {
    .mobile-container {
        display: none;
    }

}

@media screen and (max-width:1024px) {
    
    .boxWrap{
        width: 350px;
        margin-left: 0px;
    }

    .get_story{
        display: flex;
        flex-direction: column;
        padding-bottom: 90px;
    }

    .foo_box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    /* .story_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    } */

    .mobile-container {
        display: none;
    }

    .nav_items {
        gap: 30px;
    }

    .owl-prev {
        left: -4px;
    }

    .owl-next {
        right: -4px;
    }

}

@media screen and (max-width:768px) {
   
    .footer_bottom {
        padding-top: 60px;
        padding-bottom: 20px;
    }

    .search__group{
        width:400px;
    }

    .popular_writter {
        flex-direction: column;
        align-items: left !important;
    }

    .story_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .recent__inner {
        padding-top: 100px;
    }

    .boxWrap{
        display: none;
    }
   
    .header_inner {
        display: none !important;
    }

    .mobile-container {
        display: block !important;
    }

    .topnav {
        overflow: hidden;
        background: rgba(116, 112, 112, 0.445);
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .topnav :hover {
        background: rgba(116, 112, 112, 0.445);
    }


    .topnav #myLinks {
        display: none;
    }

    .topnav img {
        height: 50px;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 8px;
        background: none;
        color: #fff;
    }

    .topnav a.icon:hover {
        background: rgba(116, 112, 112, 0.445);
        color: #fff;
    }

    .topnav button {
        color: white;
        padding: 5px 10px;
        font-size: 17px;
        display: block;
        background: transparent;
        border: 1px solid #fff;
        margin-left: 15px;
        border-radius: 2000px;
        margin-top: 10px;
    }

    .topnav button:hover {
        color: #000;
        background: #fff;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
        transition: 0.4s all linear;
    }

    .topnav :hover {
        background-color: rgba(116, 112, 112, 0.445);
    }

    .active {
        background-color: #3b4642;
        color: white;
    }

    .tag {
        margin-left: 0px;
        flex-direction: column;
    }

    .get_story {
        text-align: center;
    }
    
    .mail_us{
        flex-direction: column;
        gap:10px,
    }
    
    .bottom_boxes {
        flex-direction: column;
        align-items: center;
    }


}

@media screen and (max-width:425px) {
   
    .head_check {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .popular_cl{
        flex-direction: column;
        gap:10px;
    }

    .recent__inner {
        padding-top: 240px;
    }
   
    .get_story{
        text-align: center;
        padding-right: 0px;
    }

    .boxWrap{
        display: none;
    }
    
    .search__group {
        width: 400px;
    }

    .header_inner {
        display: none !important;
    }

    .mobile-container {
        display: block !important;
    }

    .topnav {
        overflow: hidden;
        background: rgba(116, 112, 112, 0.445);
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .topnav :hover {
        background: rgba(116, 112, 112, 0.445);
    }


    .topnav #myLinks {
        display: none;
    }

    .topnav img {
        height: 50px;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 8px;
        background: none;
        color: #fff;
    }

    .topnav a.icon:hover {
        background: rgba(116, 112, 112, 0.445);
        color: #fff;
    }

    .topnav button {
        color: white;
        padding: 5px 10px;
        font-size: 17px;
        display: block;
        background: transparent;
        border: 1px solid #fff;
        margin-left: 15px;
        border-radius: 2000px;
        margin-top: 10px;
    }

    .topnav button:hover {
        color: #000;
        background: #fff;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
        transition: 0.4s all linear;
    }

    .topnav :hover {
        background-color: rgba(116, 112, 112, 0.445);
    }

    .active {
        background-color: #3b4642;
        color: white;
    }

    .tag {
        margin-left: 0px;
        flex-direction: column;
    }

    .popular_writter{
        flex-direction: column;
        align-items: left !important;
    }

    .get_story {
        text-align: center;
    }
    
    .mail_us{
        flex-direction: column;
        gap:10px,
    }
    
    .bottom_boxes {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width:375px) {
    .search__group {
        width: 365px;
    }

    .view__btn {
        padding: 8px 8px;
        height: 35px;
    }

}

@media screen and (max-width: 320px) {
    

    .mail_us input{
        width: 300px;
    }

    .recent__inner p {
        margin-bottom: 0px;
    }

    
    .search__group {
        width: 300px
    }

    .popular_cl {
        flex-direction: column;
        gap: 20px;
    }

    .view__btn {
        padding: 8px 8px;
        height: 35px;
    }
}